.formulabar {
  left: -1px;
  width: 100%;
  padding: 3px 10px;
  outline: none;
  position: absolute;
  margin-top: 40px;
  border: 1px solid rgb(218,220,224);
  height: 18px;
}
.formulabar-cellreference {
  padding: 0;
  border: none;
  resize: none;
  outline: none;
  margin: 0;
  font: 13px Helvetica;
  height: 24px;
}
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}
