.worksheet-buttons {
  position: absolute;
  margin-left: 728px;
  z-index: 40;
}
.worksheet-toggle {
  margin-left: calc(100% - 43px);
  position: absolute;
  z-index: 1;
}
.worksheet-toggle-button {
  padding: 2px 5px;
  margin: 7px 2px 2px 2px;
  border: none;
  box-sizing: content-box;
  border-radius: 5px;
}
.worksheet-toggle-button:hover {
  background-color: #6c6c6c;
}
