// #navigator
.navigator {
  border-right: 1px solid #d6d6d6;
  top: 108px;
  min-width: 125px;
  max-width: 125px;
  height: calc(100% - 108px);
  // position: fixed;
  position: absolute;
  z-index: 20;
  background: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
// #navigator.slidein {
//   transform: translateX(0);
//   transition: transform ease-out 0.4s;
// }
// #navigator.slideout {
//   transform: translateX(-100%);
//   transition: transform ease-out 0.4s;
// }
.navigator-slidewrapper {
  outline: none;
}
.navigator-slide {
  padding: 5px 10px;
  cursor: default;
}
.navigator-number {
  font-size: 12px;
  font-weight: 300;
  width: 10px;
  display: inline-block;
}
.navigator-text {
  display: inline-block;
}
.navigator-input {
  font-size: 14px;
  border: none;
  width: 93px;
  position: absolute;
  margin-top: -1px;
}
.navigator hr {
  border: none;
  border-top: 1px solid #e0e2e4;
  margin: 5px 0;
}
